<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523720688605-q40iiqjfva32ker1vdc71nn5pooa1os0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523720688605-q40iiqjfva32ker1vdc71nn5pooa1os0</string>
	<key>API_KEY</key>
	<string>AIzaSyB002pbby2F-1n2wLWOGjy6rFf1qt2PktI</string>
	<key>GCM_SENDER_ID</key>
	<string>523720688605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JFK.RateStaurant</string>
	<key>PROJECT_ID</key>
	<string>ratestaurant-22862</string>
	<key>STORAGE_BUCKET</key>
	<string>ratestaurant-22862.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523720688605:ios:78dbfbd614b47932</string>
	<key>DATABASE_URL</key>
	<string>https://ratestaurant-22862.firebaseio.com</string>
</dict>
</plist>